body {
    margin: 0;
    color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8f5ef;
  scroll-behavior: smooth;
}

#root {
  background-color: #f8f5ef;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
}

