body {
    margin: 0;
    color: #fff;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: black;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "EB Garamond", serif;
    font-weight: bold;
}

